.Dropdown_person {
    display: flex;
    max-width: 300px;
    margin-left: 980px
}
#menu {
    margin-left: 200px;
    margin-bottom: 28px;
    background: none;
    border: none;
    cursor:pointer;
   
}

.person {
    width: 32px;
    height: 29px;
    border-radius: 50%;
    border: none;   
}
#menu {
    margin-top: 22px;
    margin-bottom: 28px;
    position: relative;
    background: none;
    border: none;
}

