.sms {
    position: absolute;
    background: url(../../assets/sms.svg) no-repeat;
    width:24px;
    height: 24px;
    margin-left: 67px;
    margin-top: 29px;
    border:none;
    cursor:pointer;
}